<h1 class="benefits">
  Benefits
</h1>
<ul class="large-block-grid-3 small-block-grid-1">
  <li>
    <div class="benefit-tiles">
      <h3>Goals</h3>
        <div class="tile-text">
          <strong>Flourish Life Coaching</strong> is going to help you unlock real achievements. We don't believe in formulas or quick fixes. Let's uproot obstacles and get you to the next level.
        </div>
    </div>
  </li>
  <li>
    <div class="benefit-tiles">
      <h3>Relationships</h3>
        <div class="tile-text">
          Friendship and love have the power transform life. Your <strong>Flourish</strong> coach believes that your close community determines everything. Feel close to your friends and family and resolve the conflicts that have held you back.
        </div>
    </div>
  </li>
  <li>
    <div class="benefit-tiles">
      <h3>Joy</h3>
        <div class="tile-text">
          Take advantage of each day. You want to feel a sense of gratitude and inspiration for life. The philosophy at <strong>Flourish</strong> is that you have the power to live a joyous life today. Choose to start now.
        </div>
    </div>
  </li>
</ul>
