<h1 class="benefits">
  Benefits
</h1>
<ul class="large-block-grid-4 medium-block-grid-2 small-block-grid-1">
  <li>
    <div class="benefit-tiles">
      <h3>Relationships</h3>
        <div class="tile-text">
          Love has the power to transform life. Your <strong>Flourish</strong> coach believes that your close community determines everything. We can make it stronger.
        </div>
    </div>
  </li>
  <li>
    <div class="benefit-tiles">
      <h3>Give</h3>
        <div class="tile-text">
          <strong>Flourish Life Coaching</strong> is unlike any other. Every coaching investment you make is matched by <span class="italics">pro bono</span> coaching to under-privileged youth in Providence, RI.
        </div>
    </div>
  </li>
  <li>
    <div class="benefit-tiles">
      <h3>Joy</h3>
        <div class="tile-text">
          You want to feel a sense of gratitude for life. The philosophy at <strong>Flourish</strong> is that you have the power to live a joyous life today. Choose to start now.
        </div>
    </div>
  </li>
  <li>
    <div class="benefit-tiles">
      <h3>Goals</h3>
        <div class="tile-text">
          <strong>Flourish</strong> is going to help you unlock real achievements. Change habits and get motivated. Let's uproot obstacles and get you to the next level.
        </div>
    </div>
  </li>
</ul>
