<footer class="footer">
  <div class="row full-width">
    <p>Flourish Life Coaching | Seekonk, Massachussetts | Copyright 2015</p>
    <p>Your Flourish Life Coach is Omid Bachari. In addition to two graduate degrees, he has more than 5 years of experience providing successful coaching to his community as a volunteer and dispute mediator. Mr. Bachari believes in the timeless principles that determine human success and growth. That's one of the reasons why <strong>Flourish</strong> matches your investment with charitable giving. If you feel that a badge or certification is required to provide a life-changing coaching experience, we would be happy to recommend excellent practicioners in our field who have the credentials you are looking for. At <strong>Flourish</strong>, we believe in real, permanent transformation. There are no badges or certifications for that. We encourage you to <a href="#">schedule a free consultation</a> and see for yourself.</p>
  </div>
</footer>
