<h1 class="benefits">
  How It Works
</h1>
<ul class="large-block-grid-4 medium-block-grid-2 small-block-grid-1">
  <li>
    <div class="howworks-tiles">
      <h3>Consultation</h3>
        <div class="howworks-tile-text">
          You don't need anything to start <strong>Flourishing</strong>. Your first consultation is free. We will introduce you to your Life Coach and start your growth and success journey.
        </div>
    </div>
  <li>
    <div class="howworks-tiles">
      <h3>Road Map</h3>
        <div class="howworks-tile-text">
          After your consultation, we will provide you with a road map to the great life that is within your reach with <strong>Flourish</strong>. This is a valuable tool, and it's free.
        </div>
    </div>
  </li>
  </li>
  <li>
    <div class="howworks-tiles">
      <h3>Coaching</h3>
        <div class="howworks-tile-text">
          <strong>Flourish</strong> will change your life. From before your session to days after, we have carefully planned the whole experience to be transformative and inspiring.
        </div>
    </div>
  </li>
  <li>
    <div class="howworks-tiles">
      <h3>Donate Strength</h3>
        <div class="howworks-tile-text">
          <strong>Flourish Life Coaching</strong> believes in multiplying goodness. We commit to volunteering and improving the world on your behalf, each time you invest in yourself.
        </div>
    </div>
  </li>
</ul>
